*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    --nav-background-color: #1B3E70;
}

nav {
    width: 100vw;
    background-color: var(--nav-background-color);
}

nav ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

nav ul li {
    padding: 2% 5%;
    margin: 0 5%;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li:hover {
    background-color: #FFFFFF30;
}

section {
    margin: 5% 5%;
}

section article h1 {
    margin-bottom: 1%;
}

